<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Controller</title>
</head>
<body>
    <h1>LED Controller</h1>
    <button id="on">Turn ON</button>
    <button id="off">TURN OFF</button>
    <script>
        document.getElementById('on').addEventListener('click', function() {
            const xhttp = new XMLHttpRequest()
            xhttp.onload = function() {
                alert(this.responseText)
            }
            xhttp.open("GET", "/e", true)
            xhttp.send()
        })
        document.getElementById('off').addEventListener('click', function() {
            const xhttp = new XMLHttpRequest()
            xhttp.onload = function() {
                alert(this.responseText)
            }
            xhttp.open("GET", "/d", true)
            xhttp.send()
        })
    </script>
</body>
</html>